

<script type="text/javascript">SyntaxHighlighter.all();</script>
<h2><%= @snippet.title %>  ( <%= @snippet.language %> )</h2>
<pre class="brush: <%= @snippet.language %>;">
 <%= @snippet.snippet %>
</pre>
<br/>
<br/>
<%= link_to 'Edit', edit_snippet_path(@snippet)%>
<%= link_to 'delete', @snippet, :confirm => "Delete?",  :method => :delete%>
